<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.wdl.foo.repository.mybatis.sys.ResourcesDao">
	<resultMap id="resourcesMap" type="map">
		<id property="id" column="id" />
	</resultMap>

	<!-- 获取部门详细信息, 输出用resultMap关联嵌套对象 -->
	<select id="findAllResources" resultMap="resourcesMap">
		SELECT * FROM sys_menu;
	</select>

</mapper> 
